*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.title{
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(88, 0, 170);
    margin-left: 50px;
}

.navbar{
    width: 100%;
    background-color: rgb(88, 0, 170);
    display: flex;
    justify-content: space-between;
}

.navbar-items{
    padding: 15px;
}

.navbar-items a{
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}

.navbar a:hover{
    background-color: green;
}

/* Contendor principal */
.contenedor{
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* crear tabla */

.create-div{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    background-color: bisque;
}

/* Tabla */

.lista_articulos{
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/* FOOTER */

.foter{
    height: 100px;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 460px; */
}