*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(90deg, rgba(58,0,83,1) 0%, rgba(0,24,142,1) 34%, rgba(255,108,108,1) 100%);
}

p{
    color: white;
}

.title p{
    color: white;
    padding: 7px;
    display: flex;
    margin-top: 8px;
    border-top-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 25px;
    font-weight: bold;
    background-color: rgb(255, 0, 179);
    margin-left: 50px;
    border: 2px solid rgb(255, 238, 0);
}

.navbar{
    width: 100%;
    background-color: rgb(25, 4, 44);
    display: flex;
    justify-content: space-between;
}

.navbar-items{
    padding: 15px;
}

.navbar-items a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

.navbar a:hover{
    background-color: rgb(105, 0, 190);
}

.titulo{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Contendor principal */
.contenedor{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedor h2{
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

/* crear tabla */

.create-div{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    background-color: bisque;
}

.opcion_rol{
    display: flex;
}

.create-div input{
    padding: 5px;
    margin: 5px 0px 5px 0px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.create-div button{
    padding: 10px;
    color: white;
    background-color: rgb(145, 0, 241);
    border: none;
    border-radius: 5px;
}

/* Tabla */

.lista_articulos{
    text-align: center;
    font-size: 15px;
}

.lista_articulos th{
    padding: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    justify-content: flex-start;
    background-color: white;
}

/* VENDEDOR CONTAINER PAGE */

.vendedor-container{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60vh;
    background-color: white;
    border: 1px solid black;
}

.filter-body{
    display: flex;
    justify-content: flex-end;
}
  
  td, th {
    border: 1px solid #dddddd7a;
    text-align: left;
    text-align: center;
    padding: 8px;
  }
  
.tr-articulos{
    background-color: rgb(97, 0, 224);
    color: white;
    padding: 15px;
}

.editar-button{
    background-color: green;
    color: white;
    text-decoration: none;

}

.eliminar-button{
    background-color: red;
    color: white;
    text-decoration: none;
}

  tr:nth-child(even) {
    background-color: #dddddd79;
  }

/* FOOTER */

.foter{
    height: 100px;
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 460px; */
}

